codes/project_capsCC/venv
codes/project_capsCC/BuyGoods/migrations
codes/project_capsCC/restful/migrations
codes/**/__pycache__/
*.pyc
*.xml
.idea/**/*.xml
codes/**/.idea
codes/**/venv
codes/**/env
codes/**/venv

